# --- Core App ---
streamlit
python-dotenv
pysqlite3-binary

# --- AI Framework ---
langchain
langchain-community
langchain-core
langchain-groq
langgraph

# --- Vector DB & Embeddings ---
chromadb
sentence-transformers
torch

# --- Data Science ---
yfinance
pandas
numpy
ta
scikit-learn
xgboost
joblib
sqlalchemy

# --- Sentiment & UI ---
vaderSentiment
newsapi-python
plotly