python-dotenv
yfinance
pandas
numpy
ta
scikit-learn
xgboost
joblib
langchain
langchain-groq
langchain-community
langgraph
chromadb
pypdf
sentence-transformers
vaderSentiment
newsapi-python
streamlit
plotly
sqlalchemy
pysqlite3-binary