# --- Core Framework ---
python-dotenv
streamlit
langchain
langchain-groq
langchain-community
langgraph

# --- Data & Database ---
yfinance
pandas
numpy
pysqlite3-binary
sqlalchemy
chromadb==0.4.22

# --- AI & Machine Learning ---
# We pin torch to a standard version from PyPI to avoid install errors
torch>=2.1.0
sentence-transformers==2.2.2
transformers>=4.30.0
scikit-learn
xgboost
joblib
vaderSentiment
newsapi-python
plotly